numpy<=1.20
llvmlite
numba
torch>=1.1
tensorboardX
easydict
pyyaml
scikit-image
tqdm
ouster-sdk[examples]
torchvision
--extra-index-url https://pypi.ngc.nvidia.com
nvidia-cuda-runtime-cu11
spconv-cu102
SharedArray
